<div class="container">
  <div class="event-container row justify-content-center">
    <div class="show-card-event col-12 col-lg-4">
      <% if event&.photo&.key %>
        <%= cl_image_tag event.photo.key, :class=>"show-card-event-img" %>
      <% else %>
        <img src="https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="show-card-event-img">
      <% end %>
      <div class="show-card-event-infos">
        <div class="show-card-event-details">
          <h2><%= event.name %></h2>
          <p><%= event.category %></p>
          <p><strong>Saturday, February 17</p>
            <p><%= event.address %></p>
          </div>
          <i class="fa-solid fa-user" style="color: #3c3b3b"></i>
          <h4>100</h4>
        </div>
        <div class="show-card-event-button">
          <%= link_to "Get Directions", event_path(event), class:"btn btn-directions" %>
        </div>
        <div class="show-card-event-description">
          <div>
            <h5>Description</h5>
            <p><%= event.description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
