<%# <div class="container container-fluid"> %>
<div class="event-container row justify-content-left">
  <div class="show-card-event col-s-12 col-md-10 col-lg-5">
    <div class="carousel-time-container">
      <!-- Start of image carousel -->
      <div id="carouselEvents" class="carousel slide" data-bs-ride="carousel">
        <div id="carouselEventCaptions" class="carousel slide" data-bs-ride="false">
          <%# <div class="carousel-indicators"> %>
          <%# <button type="button" data-bs-target="#carouselEvenCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button> %>
          <%# <button type="button" data-bs-target="#carouselEventCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button> %>
          <%# <button type="button" data-bs-target="#carouselEventCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button> %>
          <%# </div> %>
          <div class="carousel-inner cold-md-10">
            <% event.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= "active" if index == 0 %>">
                <img src="<%= cl_image_path photo.key, height: 1200, width: 1600, crop: :fill %>" class="d-block w-100 img-size" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselEvents" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselEvents" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- End of image carousel -->
      <div class="time-container">
        <i class="fa-solid fa-hourglass-end" style="color: #3c3b3b;"></i>
        <strong><%= event.end_at.strftime("%H:%M") %></strong>
      </div>
    </div>
    <!-- Start of Event info container -->
    <div class="show-card-event-infos">
      <div class="show-card-event-details">
        <h2><%= event.name %></h2>
        <p><%= event.category %></p>
        <p><strong><%= event.start_at.strftime("%A, %B %e") %></strong></p>
        <p><%= event.address %></p>
      </div>

      <!-- Start of switch container for description and events -->
      <div class="switch-container" data-controller="event-subscription"
          data-event-subscription-event-id-value="<%= event.id %>">
        <nav>
          <div class="nav justify-content-center nav-pills" id="nav-pill" role="pilllist">
            <button class="nav-link active" id="switch-description-pill" data-bs-toggle="pill" data-bs-target="#switch-description" type="button" role="pill" aria-controls="switch-description" aria-selected="true">Description</button>
            <button class="nav-link" id="switch-comments-pill" data-bs-toggle="pill" data-bs-target="#switch-comments" type="button" role="pill" aria-controls="switch-comments" aria-selected="false">Comments</button>
          </div>
        </nav>
        <div class="pill-content" id="nav-pillContent">
          <div class="pill-pane fade show active" id="switch-description" role="pillpanel" aria-labelledby="switch-description-pill">
            <%= event.description %>
          </div>
          <!-- Start of comments container for event -->
          <div class="pill-pane fade" id="switch-comments" role="pillpanel" aria-labelledby="switch-comments-pill"
            data-event-subscription-target="comments">
            <% event.comments.each do |comment| %>
              <%= render "comments/comment", comment: comment %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
    <!-- End of switch container for description and events -->
  </div>
</div>
</div>
