<div class="container">
  <div class="row justify-content-center">
    <div class="container-recommended">
      <% events_near.each do |event| %>
        <div class="card-events-list col-12 col-sm-10 col-md-10 col-lg-8">
          <div class="card-image" data-toggle="collapse">
            <%= link_to event_path(event), class: 'card-event-link' do %>
              <% if event&.photos&.attached? %>
                <%= cl_image_tag event.photos.first.key %>
              <% else %>
                <img src="https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
              <% end %>
            <% end %>
          </div>
          <div class="card-event-infos" data-toggle="collapse">
            <div class="card-event-infos-details">
              <h2 class="h4"><%= event.name %></h2>
              <% if event.category == 0 %>
                <h3 class="h5"><%= "Club Event" %></h3>
              <% elsif event.category == 1 %>
                <h3 class="h5"><%= "Sports Event" %></h3>
              <% elsif event.category == 2 %>
                <h3 class="h5"><%= "Meet up" %></h3>
              <% else %>
                <h3 class="h5"><%= "Tech Event" %></h3>
              <% end %>
              <% distance = event.distance_to(user_coordinates) %>
              <p><%= distance.round(2) %> km</p>
            </div>
            <div class="card-event-icon">
              <div class="icon-and-text">
                <i class="fa-solid fa-user" style="color: #3c3b3b"></i>
                <p>120</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
