<div class="container" data-controller ="showpage-popup">
  <div class="row justify-content-center">
    <div class="container-recommended">
      <!--------- Dropdown menu for selecting category ------->
      <%# <%= simple_form_for :event, url: "#", method: "get", html: { class: "simple-form-category" } do |form| %>
        <%# <%= form.input :category, as: :select, collection: [["All Categories", ""]] + Event.categories.keys.map { |category| [category.capitalize, category] }, label: false, selected: "", input_html: { "data-action" => "change->showpage-popup#selectCategory" } %>
        <%# <% end %>
        <!--------------- End of Dropdown menu ----------------->
        <!--------------- Search bar starts -------------------->
        <%# <%= form_with url: events_path, method: :get, html: {class: "mb-4", data: {showpage_popup_target: "form"}} do |f| %>
          <%# <%= f.text_field :query, %>
          <%# class: "form-control", %>
          <%# placeholder: "Type an event name", %>
          <%# value: params[:query], %>
          <%# data: {showpage_popup_target: "input", %>
          <%# action: "keyup->showpage-popup#update", %>
          <%# } %>
          <%# <% end %>
          <!--------------- Search bar ends -------------------->
          <!--------------- Event list card starts --------------->
          <%= render "events/event_list", events: events, coords: nil %>
        </div>
        <!--------------- Event list card ends --------------->
      </div>
    </div>
