<head><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" /></head>
<body style="background-color: #2d3436;
background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); height: 100%;">
  <!-- Start of event-show-page-checkedin -->
  <div class="event-checkedin-container row justify-content-center">
    <div class="details-card-event col-sm-12 col-md-6 col-lg-4">
      <!-- Start of image carousel -->
      <div id="carouselEvents" class="carousel slide" data-bs-ride="carousel">
        <div id="carouselEventCaptions" class="carousel slide" data-bs-ride="false">
          <div class="carousel-inner col-md-10">
            <% @event.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= "active" if index == 0 %>">
                <img src="<%= cl_image_path photo.key, height: 1000, width: 1600, crop: :fill %>" class="d-block w-100 img-size" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselEvents" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselEvents" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <!-- End of image carousel -->
      <div class="add-image-button">
        <%= simple_form_for [@event], html: { id: 'fileForm', multipart: true, data: { controller: 'autosave' } } do |f| %>
          <label for="fileInput">
            <span class="material-symbols-outlined">
              add_a_photo
            </span>
            <%= f.input :photos, as: :file, input_html: { multiple: true, data: { action: 'autosave#save' } }, label: false %>
          </label>
        <% end %>
      </div>
      <!-- Start of Event info container -->
      <div class="details-card-event-infos">
        <div class="details-card-event-details">
          <h2><%= @event.name %></h2>
          <p><%= @event.category %></p>
        </div>
        <i class="fa-solid fa-people-group" style="color: #5CE1E6"></i>
        <h6><%= @event.checkins.count %></h6>
      </div>
      <!-- End of Event info container -->
      <hr style="width: 93%; margin: auto; color: lightgray;">
      <!-- Start of comments container for event -->
      <div class="comments-master-container">
        <h4>Comments</h4>
        <div class="comments-container" data-controller="event-subscription"
        data-event-subscription-event-id-value="<%= @event.id%>"
      >
          <div class="all-comments" data-event-subscription-target="comments">
            <% @comments.each do |comment| %>
              <%= render "comments/comment", comment: comment %>
            <% end %>
          </div>
        </div>
        <div>
          <%= render "comments/new_comment", event: @event, comment: @comment %>
        </div>
      </div>
      <!-- End of comments container for event -->
    </div>
  </div>

  <%# Badges Section %>
  <div class="badge-popup flex-column align-items-center" data-controller="badges">
    <% if @badge_image != nil %>
      <%# Badge image container %>
      <div class="badge-image m-4" style="border-radius: 50%;">
        <%= image_tag @badge_image,
        style: "height: 200px; width: 200px; border-radius: 50%;",
        alt: "badge" %>
      </div>

      <%# Badge buttons with JS %>
      <div class="d-flex flex-column align-items-center">
        <h4>Congratulations!</h4>
        <p>You earned the <%= @badge_name %> badge!</p>
        <button class="btn btn-directions m-2" data-action="click->badges#closePopup">OK</button>
        <%= link_to "See all badges...", dashboard_path, class: "btn btn-directions m-2" %>
      </div>
    <% end %>
  </div>
  <%# Badges Section - End %>
</body>
