<div class="container">
  <div class="form-container">
    <h1>Create a new event</h1>
    <%= simple_form_for [@event] do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :start_at, html5: true %>
      <%= f.input :end_at, html5: true %>
      <%= f.input :category, collection: Event.categories.keys %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit "Create event", class: "btn btn-directions" %>
    <% end %>
  </div>
</div>
