<div class="container container-recommended">
  <h1>Events for you</h1>
  <% @events_near.each do |event| %>
    <div class="card-events-list">
      <div class="card-image">
        <%= link_to event_path(event), class: 'card-event-link' do %>
          <%= image_tag 'discoball.jpg' %>
        <% end %>
      </div>
      <div class="card-event-infos">
        <div class="card-event-infos-details">
          <h3><%= event.name %></h3>
          <h2><%= event.category %></h2>
          <% distance = event.distance_to(@user_coordinates) %>
          <p>Distance: <%= distance.round(2) %> km</p>
        </div>
        <div class="card-event-icon">
          <i class="fa-solid fa-user" style="color: #3c3b3b"></i>
          <p>120</p>
        </div>
      </div>
    </div>
  <% end %>
</div>
