<div class="map">
  <div style="width: 100vw; height: 100vh;"
    data-controller="destination"
    data-destination-marker-value="<%= @marker.to_json %>"
    data-destination-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div data-controller="checkin">
    <%= render template: "checkins/new",
    locals: { event: @event, checkin: @checkin },
    data: { checkin_target: "form", action: "submit->checkin#noauto" }
    %>
  </div>
</div>
<!-- Start of event-show-page-checkedin -->
<div class="event-checkedin-container row justify-content-center">
  <div class="show-card-event col-sm-12 col-lg-4">
    <!-- Start of image carousel -->
    <div id="carouselEvents" class="carousel slide" data-bs-ride="carousel">
      <div id="carouselEventCaptions" class="carousel slide" data-bs-ride="false">
        <div class="carousel-inner cold-md-10">
          <% @event.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= "active" if index == 0 %>">
              <img src="<%= cl_image_path photo.key, height: 1200, width: 1600, crop: :fill %>" class="d-block w-100 img-size" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselEvents" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselEvents" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- End of image carousel -->
    <div class="add-image-button">
      <b><i class="fa-solid fa-plus" style="color: #3c3b3b;"></i></b>
    </div>
    <!-- Start of Event info container -->
    <div class="show-card-event-infos">
      <div class="show-card-event-details">
        <h2><%= @event.name %></h2>
        <p><%= @event.category %></p>
      </div>
      <i class="fa-solid fa-people-group" style="color: #3c3b3b"></i>
      <h6><%= @event.checkins.count %></h6>
    </div>
    <!-- End of Event info container -->
    <!-- Start of comments container for event -->
    <div class="comments-container">
      <h4>Comments</h4>
    </div>
  </div>
</div>
<!-- End of comments container for event -->
