<!DOCTYPE html>
<html>
  <head>
    <title>MPulse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
  </head>

  <body>
<<<<<<< HEAD
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
=======
  <%# <%= render "shared/navbar" %>
<%= render "shared/flashes" %>

>>>>>>> 9cbb89157733c5a91e27c3f82f5210b88202ca6b
    <%= yield %>
  </body>
</html>
